@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

*{
    border: 0;
    margin: 0;
}

body {
    background-color: #1e1e1e;
    color: white;
}

.heading {
    font-size: 32px;
    margin-bottom: 20px;
}

.banner-section,
 .about-me-section ,
 nav {
    margin: 50px 120px 30px;
}
/* nav section */
.nav-items{
    display: flex;
  justify-content: space-between;
}

.logo {
    color: #FD6F00;
    font-size: 32px;
}
.li-item li{
    list-style: none;
    font-size: 20px;
}

.li-item {
    display: flex;
    gap: 40px;
    align-items: center;
}

.btn{
    background-color: #FD6F00;
    color: white;
    font-size: 20px;
    padding:8px 15px;
}

/*css for banner section */

.banner-section {
      display: flex;
      gap: 60px;
}

.banner-heading {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.my-info {
    width: 50%;
}

.org-icon {
    color: #FD6F00;
    margin: 0 10px;
}

.bogura {
    color: #FD6F00;
}

.three-skill {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
}

.hire-me-border{
    background-color: #343434;
    width: 240px;
    border: 1px solid white;
    border-radius: 30px;
    margin-top: 20px;
}

.hire-me {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 8px;
}

.portfolio-btn {
    background-color: #FD6F00;
    color: white;
    font-size: 20px;
    padding:10px 15px;
    border-radius: 20px;
}

.all-icon {
    margin-top: 20px;
    font-size: 30px;
}

.icon {
    color: #8e8e8e;
    margin-right: 10px;
}

.profile{
    border-radius: 220px 220px 20px 20px;
}

/* rotated section  */
.rotated-section{
    background-color: black;
    font-size: 30px;
    transform: rotate(-4deg)
}

.rotated {
    padding:25px;
}

.yash-icon {
    color: #343434;
    margin: 0 10px;
}
/* about-me-section  */
.about-me-section {
    margin-top: 150px;
    display: flex;
    gap: 300px;
}

.about-me-description {
    width: 50%;
}

.goals-skill {
    font-size: 24px;
    text-decoration: underline;
    margin: 10px 0;
}

.ten-years {
    font-size: 32px;
}
.star-icon {
    color: #FD6F00;
}
.experience-block {
    text-align: end;
}

/* my-experience-section  */

.my-experience-section {
    background: linear-gradient(to right, #2e2632 ,#342c22);
}

.my-experience {
    margin: 50px 120px 30px;
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.my-experience-content {
    width: 50%;
}

.experience {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 15px;
}

.experience-year {
    display: flex;
    gap: 200px;
}

.ui-us-designer {
    font-size: 32px;
    font-weight: 700;
    margin:20px 0 ;
}

.horizontal {
    border-bottom:1px solid white;
    margin-bottom:30px ;
}

/* award section  */
.award-title{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

.award-block {
    background-color: black;
    margin: 50px 120px 30px;
    padding: 50px;
}

.award-block-content{
    display: flex;
    justify-content: space-between;
}
.award-name {
    width: 60%;
}
.award-name-title{
    margin-bottom: 20px;
}
