@media screen and (max-width:450px) {
   
    .nav-items{
        flex-direction: column;
        justify-content: center;
    }

    .logo{
        padding-left: 50px;
        margin-bottom: 20px;
    }

    .li-item{
        flex-direction: column;
        gap: 20px;
    }

    /* banner section  */
    .banner-section,nav {
        margin: 50px 120px 30px;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 20px;
        margin: 50px 50px 30px;
    }

    .banner-heading {
        font-size: 20px;
    }
    .my-info {
        width: 100%;
    }

    .three-skill {
        font-size: 14px;
    }

    .profile{
        width: 100%;
    }

    /* rotated section  */
.rotated-section{
    font-size: 16px;
    transform: rotate(0deg)
}

/* about me section  */
.about-me-section {
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
    margin: 50px 50px 30px;
}
.about-me-description {
    width: 100%;
}
.experience-block {
    text-align: center;
}
/* my-experience-section  */
.my-experience {
    margin: 50px 50px 30px;
    flex-direction: column;
    gap: 40px;
    padding: 20px 0;
}
.my-experience-content {
    width: 100%;
}
.experience-year {
    gap: 50px;
}
.ui-us-designer {
    font-size: 24px;
}

/* award section  */
.award-title{
    width: 100%;
}
.award-block {
    margin: 50px 50px 30px;
    padding: 20px;
}
.award-block-content{
    flex-direction: column-reverse;
}
.award-name {
    width: 100%;
}
/* My portfolio section  */
.portfolio-heading {
    width: 100%;
    margin-top: 40px; 
}
.my-portfolio-btn {
    font-size: 16px;
    padding: 10px 12px;
}
.first-project-description {
    flex-direction: column;
    margin: 50px 50px 30px;
    gap: 10px;
}
.project-img {
    width: 100%;
}
.project-description-block {
    padding: 10px 0;
}
/* contract section */
.contract-heading {
    margin-top: 40px;
}
.contract-block{
    margin: 50px 50px 30px;
    padding: 20px;
}
}

